<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>가입하기</title>
    <link rel="shortcut icon" href="../img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../css/join.css">
</head>
<body>
    <div class="join">
        <div class="centerBox">
            <div class="joinBox">
                <div class="logo">
                    <img id="insta_logo" src="../img/insta_textLogo.png" alt="phone_img">
                </div>
                <div class="join_form">
                    <h2 class="text">친구들의 사진과 동영상을 보려면 가입하세요.</h2>
                </div>
                <div class="join_form">
                    <button class="facebook_login">
                        <img class="facebook_logo" src="/img/facebook.png" alt="facebook_logo">
                        <div class="facebook_text">Facebook으로 로그인</div>
                    </button>
                </div>
                <div class="join_form3">
                    <div class="subline">
                        <div class="line"></div>
                        <div class="or">또는</div>
                        <div class="line"></div>
                    </div>
                </div>
                <div class="join_form3">
                    <input class="small_text" placeholder="휴대폰 번호 또는 이메일 주소">
                </div>
                <div class="join_form3">
                    <input class="small_text" placeholder="성명">
                </div>
                <div class="join_form3">
                    <input class="small_text" placeholder="사용자 이름">
                </div>
                <div class="join_form3">
                    <input class="small_text" placeholder="비밀번호">
                </div>
                <div class="join_form2">
                    <span class="small_text">저희 서비스를 이용하는 사람이 회원님의 연락처 정보를 Instagram에 업로드했을 수도 있습니다.<br>더 알아보기</span>
                </div>
                <div class="join_form">
                    <button class="join_btn">가입</button>
                </div>
            </div>
            <div class="account">
                <div class="no_account">계정이 있으신가요?</div>
                <button type="button" class="login">로그인</button>
            </div>
            <div class="download">
                <div class="download_txt">앱을 다운로드하세요</div>
                <div class="download_img">
                    <img class="googlePlay" src="/img/googlePlay.png" alt="googlePlay_logo">
                    <img class="microsoft" src="/img/microsoft.png"alt="microsoft_logo">
                </div>
            </div>
        </div>
    </div>

</body>
</html>